<?php

$header = <<<'EOF'
This file is part of PHP CS Fixer.
(c) Fabien Potencier <fabien@symfony.com>
    Dariusz Rumiński <dariusz.ruminski@gmail.com>
This source file is subject to the MIT license that is bundled
with this source code in the file LICENSE.
EOF;

return PhpCsFixer\Config::create()
	->setUsingCache(false)
	->setRules(array(
	    '@Symfony' => true,
	    'combine_consecutive_unsets' => true,
// 	    'header_comment' => ['header' => $header],
	    'array_syntax' => ['syntax' => 'short'],
	    'no_extra_consecutive_blank_lines' => ['break', 'continue', 'extra', 'return', 'throw', 'use', 'parenthesis_brace_block', 'square_brace_block', 'curly_brace_block'],
	    'no_useless_else' => true,
	    'no_useless_return' => true,
	    'ordered_class_elements' => true,
	    'ordered_imports' => true,
	    'phpdoc_add_missing_param_annotation' => true,
	    'trim_array_spaces' => false,
	    'binary_operator_spaces' => [
                'align_double_arrow' => true,
            ],
	    'concat_space' => ['spacing' => 'one']
	));
