"*":
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-beautify":
    general:
      _analyticsUserId: "7acc178e-69e1-4857-bdc5-159f26138ba3"
    js:
      indent_with_tabs: true
    php:
      cs_fixer_path: "/Users/Yoram/.composer/vendor/bin/php-cs-fixer"
      fixers: "align_double_arrow,short_array_syntax,concat_with_spaces,ordered_use"
      level: "symfony"
  "autocomplete-php": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1496834995117
  core:
    disabledPackages: [
      "tabs"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/Yoram/atom-projects/"
    telemetryConsent: "limited"
  editor:
    fontFamily: "FiraCode-Regular"
    lineHeight: 3
    showIndentGuide: true
  "exception-reporting":
    userId: "6c5085f6-f180-e9da-5a1c-a05eb52e99e2"
  "fuzzy-finder": {}
  "linter-eslint":
    fixOnSave: true
  "linter-php": {}
  "php-fmt":
    autoAlign: true
    selfUpdate: true
    useSpaceIndentation: true
  "php-integrator-navigation": {}
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".js.source":
  editor:
    tabLength: 2
".php.source":
  editor:
    tabLength: 4
".php.text":
  whitespace:
    removeTrailingWhitespace: true
".source.yaml":
  editor:
    tabLength: 4
